<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>PHP Pro | Book</title>
</head>
<body>
    <header>
        <a href="index.php">to index.php</a>
    </header>
    <main>
        <table>
            <tr> <td>Title</td> <td>{{ array.title }}</td> </tr>
            <tr> <td>Author</td> <td>{{ array.author }}</td> </tr>
            <tr> <td>Publisher</td> <td>{{ array.publisher }}</td> </tr>
            <tr> <td>Pages</td> <td>{{ array.pages }}</td> </tr>
            <tr> <td>Cathegory</td> <td>{{ array.cathegory }}</td> </tr>
        </table>
    </main>
    <footer>

    </footer>
</body>
</html>
